<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eBank</title>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% block style %}{% endblock %}
</head>
<body>
<div class="header">
  <div class="container">
    <a class="logo" href="/">eBank</a>
    <div class="navigation">
      {% for item in navigation %}
        <a href="{{ item.url }}" class="{% if item.active %}active{% endif %}">{{ item.title }}</a>
      {% endfor %}
      <a href="http://182.92.235.133:8002/#/login">登录</a>
      <a href="http://182.92.235.133:8002/#/register">注册</a>
    </div>
  </div>
</div>
<div class="body">{% block body %}{% endblock %}</div>
<div class="footer">
  <div class="container">
    <div class="footer-join">
      <span class="footer-join-title">立即体验企业现金管理服务</span>
      <a href="http://182.92.235.133:8002/#/register">立即注册</a>
    </div>
    <div class="footer-items">
      <a class="foot-item about" href="/">关于我们</a>
      <a class="foot-item about" href="/">法律保障</a>
      <a class="foot-item about" target="_blank" href="#">加入我们</a>
      <a class="foot-item weibo" href="#" target="_blank">微博</a>
      <a class="foot-item twitter" href="#" target="_blank" rel="noopener">Twitter</a>
      <a class="foot-item facebook" href="#" target="_blank" rel="noopener">Facebook</a>
      <span class="foot-item icp">上海易后台互联网金融信息服务有限公司</span>
    </div>
  </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
