.navbar-brand img {
  width: 60px;
  float: left;
  margin-right: 8px;
  position: relative;
  top: -4px;
}

.navbar-brand span {
  color: #e63a2c;
  position: relative;
  top: 32px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 18px;
  color: #e63a2c;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #e63a2c;
}
