.navbar-brand .logo {
  width: 60px;
  float: left;
  position: relative;
  top: -4px;
}

.navbar-brand .slogan {
  height: 30px;
  position: relative;
  top: 26px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 18px;
  color: #e63a2c;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #e63a2c;
}
