body {
  background-color: #f8f8f8;
  color: #666;
}

.side-nav {
  padding: 0;
}

.body {
  padding-top: 15px;
  padding-right: 0;
}

.popover {
  max-width: 400px;
}

.table th {
  white-space: nowrap;
}

.navbar-ebank {
  background-color: #fff;
  border-color: #e63a2c;
  margin-bottom: 0;
}

.navbar-ebank .navbar-brand .logo {
  width: 80px;
  float: left;
  position: relative;
  top: -4px;
}

.navbar-ebank .navbar-brand .slogan {
  height: 32px;
  position: relative;
  top: 46px;
}

.navbar-ebank .navbar-nav > li > a {
  padding: 70px 8px 10px 8px;
  font-size: 18px;
  color: #e63a2c;
}

.navbar-ebank .navbar-nav > li > a:hover {
  color: #e63a2c;
  background-color: transparent;
}

.nav-side {
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  padding-top: 15px;
}

.nav-side a {
  color: #333;
}

.nav-side .active a {
  color: #333;
  background-color: #eee;
}

.nav-side .glyphicon {
  margin-right: 10px;
}

.dl-horizontal {
  margin-bottom: 0;
}

.dl-horizontal dt {
  width: 100px;
  font-weight: normal;
  color: #333;
}

.dl-horizontal dd {
  margin-left: 115px;
}

.react-grid-Grid {
  border: 0;
}

.react-grid-HeaderCell {
  font-weight: normal;
  background-color: #fff;
}

.module-title {
  margin-top: 0;
  margin-bottom: 15px;
}
